@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@600;700;800&display=swap');

:root{


    --primary:#6366f1;

    --secondary:#8b5cf6;


    --radius:20px;

    --transition:.35s;


}

body{


    margin:0;


    background:
    var(--background);


    color:
    var(--text);


    font-family:
    'Inter',
    sans-serif;


    transition:
    background .4s,
    color .4s;


}

.dark{


    --background:#080b12;

    --surface:
    rgba(255,255,255,.05);

    --text:#ffffff;

    --text-secondary:#94a3b8;

    --border:
    rgba(255,255,255,.08);


}



.light{


    --background:#f8fafc;

    --surface:#ffffff;

    --text:#0f172a;

    --text-secondary:#475569;

    --border:#e2e8f0;


}